// _config.scss


// colors
$main-color: #ffac05;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: rgb(114, 113, 113);

$bg-color: rgb(255, 255, 255);






$website-width: 1280px;

$bg-image: url("../img/showcase.jpg");

