/* Coolors Exported Palette - coolors.co/ed6a5a-f4f1bb-9bc1bc-5ca4a9-e6ebe0 */


/* RGB */
$color1: rgba(237, 106, 90, 1);
$color2: rgba(244, 241, 187, 1);
$color3: rgba(155, 193, 188, 1);
$color4: rgba(92, 164, 169, 1);
$color5: rgba(230, 235, 224, 1);