* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f099;
  /* :rgba(244, 241, 187, 1); */
  /* rgb(247, 224, 122); */
  /* line-height: 1.6rem; */
  max-width: 1200px;
  margin: auto;
  overflow: scroll;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* h2 {
  padding-top: 1.5rem;
} */

h3 {
  padding-top: 1rem;
}

ul {
  padding-left: 2.5rem;
}

li {
  line-height: 2rem;
  position: relative;
}

p {
  padding: 0.2rem 0;
}

p em {
  color: rgb(160, 160, 160);
}

a {
  text-decoration: none;
  color: blue;
}

/* UTILITIES-classes */
.main-container {
  max-width: 1500px;
  margin: auto;
  padding: 0 0 1rem 2rem;
}

.preview {
  display: none;
  width: 500px;
}

a:hover + .preview,
.preview:hover {
  display: block;
  position: absolute;
  z-index: 20;
  top: 5px;
  left: 40px;
  height: 300px;
}

/* put this around the link */
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-wrapper a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  box-shadow: 2px 2px rgba(133, 132, 132, 0.473);
  text-decoration: none;
  /* color: rgb(9, 130, 243); */
  font-weight: 700;
  background: greenyellow;

  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.button-wrapper a:hover {
  background: green;
}

.comment {
  padding: 0;
  margin: 0;
  color: gray;
  font-style: italic;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-wrapper > * {
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  /* padding-top: 2rem; */
}

.heading {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
}

.description {
}

.poster {
  background-color: rgb(166, 219, 116);
  padding: 2rem;
  border: 2px solid black;
  -webkit-box-shadow: 11px 7px 0px 0px rgba(199, 179, 199, 0.48);
  -moz-box-shadow: 11px 7px 0px 0px rgba(199, 179, 199, 0.48);
  box-shadow: 11px 7px 5px 0px rgba(75, 74, 75, 0.48);
  /* margin: 1rem; */
}

/* SECTIONS */

/* translate button */
#translate a {
  position: absolute;
  right: 5px;
  top: 2px;
  background-color: rgb(228, 194, 85);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  padding-right: 5px;
}

#translate a img {
  padding: 5px;
  margin: 0;
}

.flag {
  height: 40px;
  padding-right: 5px;
}

#table-of-content {
  background-color: rgb(248, 213, 99);
}

#current-project {
  background-color: rgb(203, 255, 119);
}
