* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  background-color: #f7f099;
  /* :rgba(244, 241, 187, 1); */
  /* rgb(247, 224, 122); */
  /* line-height: 1.6rem; */
  max-width: 1200px;
  margin: auto;
  overflow: scroll;
}

h1 {
  /* margin-top: 2rem; */
  /* margin-bottom: 1rem; */
  font-size: 2rem;
}

h2 {
  padding-bottom: 1.5rem;
}

h3 {
  padding-top: 1rem;
}

ul {
  padding-left: 2.5rem;
}

li {
  line-height: 2rem;
  position: relative;
}

p {
  padding: 0.2rem 0;
}

p em {
  color: rgb(160, 160, 160);
}

a {
  display: inline-block;
  text-decoration: none;
  color: blue;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

a:hover {
  color: red;
  /* transform: scale(1.03); */
  /* -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03); */
}

img {
  width: 100%;

}



/* UTILITIES-classes */

/* put this around the link */
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper a {
  /*display: block;
  */
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 2px rgba(133, 132, 132, 0.473);
  text-decoration: none;
  /*color: rgb(9, 130, 243);
  */
  font-weight: 700;
  background: greenyellow;

  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.button-wrapper a:hover {
  background: green;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}




.intro-container {
  max-width: 1500px;
  margin: auto;
  padding: 0 0 1rem 2rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-wrapper>* {
  padding: 1rem;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 3vw;
  justify-content: center;
}

.poster {
  background-color: rgb(166, 219, 116);

  padding: 2vw;
  border: 2px solid black;
  -webkit-box-shadow: 11px 7px 0px 0px rgba(199, 179, 199, 0.48);
  -moz-box-shadow: 11px 7px 0px 0px rgba(199, 179, 199, 0.48);
  box-shadow: 11px 7px 5px 0px rgba(75, 74, 75, 0.48);
}

.wmax400 {
  max-width: 400px;
}

.preview {
  display: none;
  width: 500px;
}

a:hover+.preview,
.preview:hover {
  display: block;
  position: absolute;
  z-index: 20;
  top: 5px;
  left: 40px;
  height: 300px;
}


.title {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 0.9rem;
  font-size: 3rem;
  /* padding-top: 2rem; */
}

.heading {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 0.6rem;
  font-size: 2rem;
}

.comment {
  padding: 0;
  margin: 0;
  color: gray;
  font-style: italic;
}

.center-text {
  text-align: center;
}




/* SECTIONS */

/* translate button */
#translate {
  position: fixed;
  right: 2px;
  top: 2px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(228, 194, 85);

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  padding: 5px;

}

#translate a {
  position: absolute;
  width: 100%;
  height: 100%;





}

#translate a img {
  padding: 5px;
  margin: 0;
}

.flag {
  height: 40px;
  width: auto;
  padding-right: 5px;
}


#page-name {
  /* display: block; */
  font-size: 8vh;
  margin: 1rem auto 0 auto;
  text-align: center;
}

#current-project {
  background-color: rgb(203, 255, 119);
}

#current-project #iframe-container {
  width: 100%;
  /* height: 200px; */
  overflow: hidden;
}

#current-project iframe {
  width: 100%;
  /*height: 200px;
  */
  
}

#table-of-content {
  background-color: rgb(248, 213, 99);
}









#just-for-fun {
  background: orange;
}