// ** variables
$cBg:rgb(184, 184, 238);
$cPointsFrame: orange;
$cPointsFrame: linear-gradient(90deg, rgba(254, 255, 0, 1) 0%, rgba(249, 183, 0, 1) 50%, rgba(254, 255, 0, 1) 100%);
// $cPointsFrame: linear-gradient(90deg, rgba(254, 255, 0, 1) 5%, rgba(249, 183, 0, 1) 40%, rgba(249, 188, 0, 1) 60%, rgba(254, 255, 0, 1) 95%);
$cBg_NewCard:rgb(154, 154, 247);
$cBg_3buttons:rgba(0, 147, 249, 1);
// $cBg_connectionsButtons: rgb(255, 245, 160);
$cBg_connectionsButtons: rgb(243, 229, 183);

$defaultFontSize:20px;
$letterBoxSize:90px;

/**
*
*
*
*
*
*
*
 */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


html {
  font-size: 62.5%;
}

body {
  font-size: $defaultFontSize;
  line-height: $defaultFontSize * 1, 5;
  // max-width: 500px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-bottom: .55rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
}



a {
  // text-decoration: none;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}


img {
  width: 100%;
  height: auto;
}

button {
  // padding: 1rem;
  font-size: $defaultFontSize;


  &:hover {
    cursor: pointer;
  }
}

label,
input {
  display: block;
  font-size: $defaultFontSize !important;
  padding-bottom: 0.3rem;


}

label {
  padding-top: 1rem;
}

//** classes

.centerIt {
  display: block;
  margin: auto !important;
  text-align: center;

  // flex-flow: column;
  // align-items: center;
  // justify-content: center;
}

.button {
  display: inline-block;
  padding: 1rem;
  margin: 1.6rem 1.5rem;
  background: rgb(247, 199, 199);
  border: 1px solid white;
  text-decoration: none;
  box-shadow: 3px 3px 3px 0px grey;
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    // background: rgb(247, 144, 144);
    cursor: pointer;
  }

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hintButton {
  background-color: $cBg_connectionsButtons;

  // background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, rgba(254, 255, 0, 1) 95%);
  // background-color: white;
  //display: inline-block;
  //width: 30px;
  //margin: 0 auto;
  //margin-top: 10px;
  //border-top-left-radius: 0;
  //border-bottom-left-radius: 0;
  //border-bottom-right-radius: 0;
  //display: inline-block;
  //margin: 0 auto;
  text-decoration: solid underline #0404be;


  // font-weight: bold;
  border: none;
  // margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 100% 100% 0 0;
  -webkit-border-radius: 100% 100% 0 0;
  -moz-border-radius: 100% 100% 0 0;
  -ms-border-radius: 100% 100% 0 0;
  -o-border-radius: 100% 100% 0 0;
  box-shadow: 3px -3px 3px 0px grey;

}

.hintText {
  text-decoration: none;
  font-weight: normal;
  display: block;
  margin-top: 0;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pairedButton {
  //background-color: greenyellow;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: fixed;
  max-width: 476px;
  margin: 0 auto;
  bottom: 5px;
  right: 50%;

  width: 100%;
  height: 8vh;
  //background: rgb(90, 90, 90);
  color: white;

  //border: 2px solid black;
  &:hover {
    cursor: pointer;
  }

  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}



.inline {
  display: inline;
}


.bgDark {
  background-color: rgb(141, 141, 248);
}

.mtm {
  margin-top: 10px;
}

.mtb {
  margin-top: 30px;
}

.mm {
  margin: 10px;
}

.pm {
  padding: 10px;
}

.hide {
  display: none;
}

// #hintConnectionReminder+* {
//   background-color: green;
// }

// **Main


#userStatusWrapper {
  background: rgb(235, 252, 141);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  // margin-bottom: 5px;
  color: rgb(119, 111, 2);

  // #userStatus {
  // }
  #signInOutButton {
    background: rgb(139, 139, 139);
    color: black;
    border-color: black;
  }
}

#scoreCounter {
  display: none;
  background: greenyellow;
  padding: 5px;
}

.pointsCounter {
  display: flex;
  flex-direction: column;
  background: yellow;
  // padding: 5px;
  // border: 3px solid $cPointsFrame;

  >p {
    font-weight: 900;
    text-decoration: underline solid;
    background: $cPointsFrame;
    padding-bottom: 5px;

  }

  .history7days,
  .timeHistory7days {
    text-align: left;

    strong {
      display: inline-block;
      text-align: right;
      width: 80px;
    }

    &>span {
      text-align: center;
      // width: 30px;
    }
  }

  .history7days {
    // background: rgb(255, 208, 0);
    padding: 3px;


    span:nth-child(n+1) {
      display: inline-block;
      width: 35px;
      height: 25px;
      margin: 0 2px;
      font-size: 1.9rem;
      // color: white;
      // background: rgba(194, 194, 16, 0.555);
      // background: rgba(255, 76, 6, 0.555);
      background: rgba(255, 166, 0, 0.534);
      // border: 1px solid white;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }

  .pointsCounterMain {
    display: flex;

    * {
      flex: 1;
    }
  }
}






#container {
  // position: relative;
  max-width: 500px;
  margin: 0 auto;

  text-align: center;
  min-height: 170vh;
  // background-color: $cBg;
  // background: linear-gradient(0deg, rgba(0, 147, 249, 1) 13%, rgba(255, 0, 0, 1) 99%);
  // background: linear-gradient(0deg, rgba(0, 147, 249, 1) 13%, rgba(254, 255, 0, 1) 99%);
  background: rgb(133, 133, 45);
  background: linear-gradient(180deg, rgba(254, 255, 0, 1) 10%, rgba(0, 147, 249, 1) 80%);



  h1 {
    padding: 1rem 1rem;
  }

  #newWord_container {
    text-align: left;
    margin: 1rem 2rem;
    background-color: $cBg_NewCard;
    padding: 5vmin;
  }
}


#training_wrapper {
  // position: relative;
  // height: 100%;



  #mainIcons {
    // background-color: red;
    position: relative;
    display: flex;
    // justify-content: space-between;

  }

  #help,
  #pilesInfo,
  #addVocabulary {

    .visibleIcon {
      //display: inline-flex;
      //justify-content: flex-start;
      //text-align: left;
      //float: left;
      margin: 10px 10px 20px 10px;
      color: rgb(238, 255, 0);
      // background-color: red;

      //font-size: 2rem;
      width: 50px;
      height: 50px;
      z-index: 100;

      &:hover {
        cursor: pointer;
      }

      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      box-shadow: 3px 3px 3px 0px grey;
      transition:all 0.5s ease-out;
      -webkit-transition:all 0.5s ease-out;
      -moz-transition:all 0.5s ease-out;
      -ms-transition:all 0.5s ease-out;
      -o-transition:all 0.5s ease-out;

      // .mainIcon{
      //   width: 50px;
      //   height: 50px;
      //   z-index: 100;
      // }
    }

    .invisibleWindow {
      position: fixed;
      // position: absolute;  //not working as main2 icons need to be set to relative for floating + button to work
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // height: auto;
      // min-height: 100%;
      background-color: rgb(211, 158, 158);
      z-index: 10000;
      text-align: left;
      color: yellow;
      padding: 5px;
      overflow: scroll;

      p {
        padding: 5px;


      }

      a {
        // color: greenyellow;
        line-height: 1.3;
        padding: 10px;
      }

      h1,
      h2 {
        text-align: center;
        margin-top: 40px;
      }

      h1 {
        color: rgb(0, 153, 255);
      }

      h2 {
        text-decoration: solid underline white;
      }

      h3,
      h4,
      h5 {
        text-align: left;
        margin-top: 30px;
      }

      h6 {
        margin-top: 20px;
      }

      .closeButton {
        // display: none;
        // display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        background: rgb(90, 90, 90);
        color: white;

        // border: 2px solid black;
        &:hover {
          cursor: pointer;
        }

      }

      #formNewWord {
        margin-left: 10px;
        margin-right: 10px;

        input[type="text"] {
          width: 100%;
        }

        // #translationCheckedCheckbox {
        // }
      }

    }

  }

  #addVocabulary .visibleIcon {
    position: fixed;
    right: 0;
    top: 0;
    // display: block;
  }

  #mainTitle {
    //clear: left;
    opacity: 0;
    display: inline-block;
    position: relative;
    //margin: 0 auto;
    //display: inline;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
    // border-radius: 30px;
    // -webkit-border-radius: 30px;
    // -moz-border-radius: 30px;
    // -ms-border-radius: 30px;
    // -o-border-radius: 30px;
    // border: 1px dotted red;

    //z-index: 2;
    //text-shadow: 2px 2px 2px rgb(250, 181, 181);
    //$shadeMM: rgb(0, 102, 255);
    //$shadeSize: 1px;
    //text-shadow: $shadeSize*(-1) 0 $shadeMM, 0 $shadeSize $shadeMM, $shadeSize 0 $shadeMM, 0 $shadeSize*(-1) $shadeMM;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;

    #tapToCenter {
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border: 1px dotted red;
      padding: 0 5px;

      position: absolute;
      // display: block;
      // width: 100%;
      top: 43%;
      right: 50%;
      transform: translate(50%, -50%);
      -webkit-transform: translate(50%, -50%);
      -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
      -o-transform: translate(50%, -50%);
      font-size: 1.3rem;
      color: rgb(253, 113, 113);



    }

  }

  #mainTitle:hover {
    cursor: pointer;
  }


  #language_labels {
    span {
      &:nth-child(1) {
        color: red;
      }

      &:nth-child(3) {
        color: blue;
      }
    }
  }

  #words {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;



    >p {
      padding: 1rem 3rem;
      font-size: 4rem;
      // background-color: rgb(252, 240, 188);
      font-weight: 700;
      margin-bottom: 1px;

      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  // #hints .button {
  //   // background-color: rgba(255, 255, 255, 0);
  // }

  #levelIndicator {
    color: lightgray;
    display: none;
  }

  #options {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;



    .optionsIcon {
      // background: white;
      // background: rgb(146, 110, 11);
      //display: inline-block;
      display: none;
      padding: 3px 8px;
      margin: 3px;
      margin-top: 20px;
      // border: 2px solid blue;
      border: 2px solid rgba(255, 255, 255, 0.301);
      color: blue;
      color: white;
      text-decoration: none;
      box-shadow: 3px 3px 3px 0px grey;



      &:hover {
        cursor: pointer;
      }

      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }

    .optionsWindow {
      display: none;
      // padding: 10px;
      height: 170vh;
      overflow: scroll;

      input[type="text"] {
        width: 100%;
      }

      #pospone {
        padding-top: 10px;

        input,
        label {
          display: inline;
          padding: 0;
        }

        div {
          padding: 0 10px;

        }

        .flexWrapper {
          padding: 5px 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          * {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
          }
        }
      }

    }



    #definitionGoogle .optionsIcon,
    #changeWords .optionsIcon,
    #speakWord .optionsIcon {
      display: inline-block;
    }


    #definitionGoogle .optionsWindow,
    #changeWords .optionsWindow {
      // display: none;
      z-index: 10000;
      // display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // height: 100%;
      background: white;
      border: 2px solid black;

      h1,
      h2,
      h3,
      h4,
      h5 {
        color: purple;

      }

      .closeButton {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // position: fixed;
        // bottom: 0;
        // left: 0;
        // width: 100%;
        // height: 10vh;
        // background: rgb(90, 90, 90);
        line-height: normal;
        color: rgb(0, 0, 0);
        // font-size: 20px;

        // border: 2px solid black;
        &:hover {
          cursor: pointer;
        }
      }

      #formAdjustWord {
        line-height: 1.3;
        padding: 5px 10px;
        background-color: $cBg;
        // position: relative;
      }


    }


  }

  #connection {
    // background-color: red;
    display: none;

    margin-top: 10px;

    // width: 100vw !important;
    // flex-basis: 100vw !important;
    // h6 {}
  }




  #bottonWrapper {
    position: fixed;
    // border: 5px solid black;
    // border-radius: 40px;
    //z-index: 100;
    bottom: 0;
    //left: 0;
    width: 100%;
    height: 80px;
    max-width: 500px;
    margin: 0 auto;
    //background: red;
    display: flex;
    // -webkit-border-radius: 40px;
    // -moz-border-radius: 40px;
    // -ms-border-radius: 40px;
    // -o-border-radius: 40px;
  }


  #b_next,
  #threeButtons,
  #improveChallengeButtons {
    // position: fixed;
    // display: block;
    width: 100%;
    // margin-top: 2rem;
    // background-color: rgb(96, 96, 221);
    // background-color: greenyellow;
    // background-color: $cBg_3buttons;

    padding: 2rem 1rem;
    // border-top: 2px solid $cBg_3buttons;


    &:hover {
      cursor: pointer;
    }
  }

  #b_next {
    //background-color: yellow;
    background-color: rgb(151, 112, 5);
    //border: 3px solid black;
    // border-top: 3px solid rgba(255, 255, 255, 0.459);
    border-top: 3px solid rgb(255, 251, 0);
    border-radius: 50% 50% 0 0;
    -webkit-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
  }

  #threeButtons,
  #improveChallengeButtons {

    display: none;
    padding: 0;
    height: 100%;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    //margin-top: 1.5rem;
    // background-color: rgb(0, 0, 0);
    // background-color: 

    transition: all 1s;

    * {
      flex: 1;
      opacity: 0.9;
      flex-grow: 1;
      height: 100%;
      padding: 2rem 1rem;
      //border: 2px solid $cBg_3buttons;
      margin: 1px;
      border-radius: 100% 100% 10px 10px;
      -webkit-border-radius: 100% 100% 10px 10px;
      -moz-border-radius: 100% 100% 10px 10px;
      -ms-border-radius: 100% 100% 10px 10px;
      -o-border-radius: 100% 100% 10px 10px;
      // min-width: 50%;
      // box-shadow: 3px 3px 3px 0px grey;

      // border: 2px solid rgba(255, 255, 255, 0.459);
      // border: 10px solid rgba(255, 0, 0, 0.651);
      // border: 4px solid rgb(161, 2, 2);
      // border-bottom: 8px solid rgb(161, 2, 2);
      border-top: none;

      // border-bottom: none;
    }

    #BtnDown {
      background-color: rgb(255, 0, 0);
      // display: block;
    }

    #BtnStay {
      // background-color: rgb(255, 230, 0);
      background-color: orange;
      // background-color: red;
      // display: none;

    }

    #BtnSlow {
      background-color: yellow;
    }

    #BtnUp {
      background-color: rgb(0, 255, 34);
      // border: 4px solid rgb(9, 255, 0);
      // border-bottom: none;
      // border-bottom: 8px solid rgb(81, 255, 0);


      // height: 150px;

    }

    #adjustOption {
      background-color: rgb(109, 4, 228);
    }

    #moveOnOption {
      background-color: rgb(255, 0, 119);
    }
  }



  #deleteCard {
    // display: flex;
    position: fixed;
    margin: 5px;
    top: 0;
    left: 0;
    // text-align: left;
    // justify-content: flex-start;
  }




}



// importing cards from excel files
#googleDrop,
#normalDrop {
  border: 2px dotted gray;
  margin: 1rem;
  padding: 4rem;
}

#googleDrop {
  background: rgb(223, 161, 241);
}

#normalDrop {
  background: rgb(182, 54, 241);
}

#cardToCheckAllert {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // opacity: 0.7;
  padding: 1rem;
  background: blue;
}

#proccedImport {
  background: green;
}

#cancelImport {
  background: red;
}


#firstTimeUser {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(33, 196, 224);
  padding: 10px;
  text-align: left;



  input[type="radio"],
  label {
    display: inline-block;
    // padding: 15px;
    // margin: 0 15px;
  }

}

#alertForSec {
  position: fixed;
  top: 50%;
  right: 50%;
  margin: 5px;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  background-color: red !important;
  z-index: 1000000;
  text-align: center;

  animation: fadeAway 1s forwards ease-in-out;
  -webkit-animation: fadeAway 1s forwards ease-in-out;
}

@keyframes fadeAway {
  70% {
    opacity: 1;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
  }

  100% {

    transform: translate(50%, -200%);
    -webkit-transform: translate(50%, -200%);
    -moz-transform: translate(50%, -200%);
    -ms-transform: translate(50%, -200%);
    -o-transform: translate(50%, -200%);

    opacity: 0;
    // transform: scale(0);
    // -webkit-transform: scale(0);
    // -moz-transform: scale(0);
    // -ms-transform: scale(0);
    // -o-transform: scale(0);
  }
}



#hints {
  color: rgb(4, 4, 190);

  p {
    color: rgb(4, 4, 190);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}




#showLettersWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  // border: 2px solid black;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  box-shadow: 3px 0px 3px 0px grey;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}


#puzzleWrapper {
  display: flex;
  // flex-flow: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  // background-color: yellow;

  >* {
    margin: 1px;
    height: $letterBoxSize;
    width: $letterBoxSize;
    font-size: 3.3rem;
    color: red;
    // background-color: black;


    >* {
      color: white;
      background-color: orange;

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9d00+59,e5e5e5+70 */
      background: rgb(255, 157, 0);
      /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, rgba(255, 157, 0, 1) 59%, rgba(229, 229, 229, 1) 70%);
      /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 157, 0, 1) 59%, rgba(229, 229, 229, 1) 70%);
      /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(255, 157, 0, 1) 59%, rgb(255, 238, 0) 70%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d00', endColorstr='#e5e5e5', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */


      height: $letterBoxSize*2/3;
      width: $letterBoxSize*2/3;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      //border:1px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      transition: all 0.3s;

      //line-height: 3rem;
      &:active {
        background-color: red;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9d00+59,e5e5e5+70 */
        background: rgb(255, 157, 0);
        /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, rgba(255, 157, 0, 1) 59%, rgba(229, 229, 229, 1) 70%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 157, 0, 1) 59%, rgba(229, 229, 229, 1) 70%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(255, 157, 0, 0) 59%, rgb(255, 251, 0) 70%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d00', endColorstr='#e5e5e5', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
      }
    }
  }
}

// #takeTimeReminder {
//   opacity: 0;
//   // background-color: red;

//   margin-top: 80px;
//   // transition: opacity 0.3s;

//   * {
//     color: rgba(255, 255, 255, 0.37);
//     animation: fadeAway 1s forwards 2s;
//   }
// }

// @keyframes fadeAway {
//   100% {
//     opacity: 0;
//     // color: red;
//   }
// }

#saveChangesAlert {
  display: none;
  position: fixed;
  bottom: 90px;
  left: 0;
  width: 100%;
  font-weight: 800;

  // margin: auto;
  * {
    color: black;
  }
}



#pilesInfo .invisibleWindow {
  //  display: block !important;

  -webkit-overflow-scrolling: touch;

  * {
    -webkit-overflow-scrolling: touch;
  }

  #pileLearned .showHideCards button {
    background-color: rgba(0, 255, 255, 0.116);
    border: 1px solid rgba(0, 0, 0, 0.404);
    color: rgba(167, 0, 0, 0.712);
    border-radius: 0 10px 10px 0;
    font-size: small;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: all 0.3s;

  

    &.spin-border-radius {
      // background: white !important;
      background-color: rgba(85, 141, 141, 0.233);

      border-radius: 10px 0 0 10px;
    }
  &:hover {
      background-color: black;
      color: white;
    }


  }

}