* {
  margin: 0;
  padding: 0; }

body {
  background: url("./images/Background_photos/blured2.jpg ") no-repeat center center/cover;
  width: 100%; }

a {
  text-decoration: none;
  color: #970071; }

image {
  width: 100%; }

.container {
  max-width: 1200px;
  margin: auto; }

.title {
  text-align: center;
  color: #970071;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: -2; }

.separator {
  display: block;
  height: 5px;
  width: 80%;
  margin: 2rem auto;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), #970071, rgba(0, 128, 0, 0)); }

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  background-color: #fdfcf5;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #navbar #header2 {
    color: #970071;
    padding: 10px; }
    #navbar #header2 #logo-line1, #navbar #header2 #logo-line2 {
      font-weight: bold; }
    #navbar #header2 #logo-line1 {
      font-size: 2rem; }
    #navbar #header2 #logo-line2 {
      font-size: 1.5rem;
      text-align: right; }
  #navbar nav {
    font-size: 1.3rem; }
    #navbar nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px; }
      #navbar nav ul li {
        display: inline-block;
        text-align: center;
        padding: 0.7rem;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        transition: border-bottom 0.5s ease-in-out;
        -webkit-transition: border-bottom 0.5s ease-in-out;
        -moz-transition: border-bottom 0.5s ease-in-out;
        -ms-transition: border-bottom 0.5s ease-in-out;
        -o-transition: border-bottom 0.5s ease-in-out; }
        #navbar nav ul li:hover {
          border-bottom: 3px solid #970071; }

#start-offset {
  display: block;
  height: 110px; }

#Intro {
  height: 500px;
  width: 100%;
  position: relative; }
  #Intro-text {
    max-width: 400px;
    float: left;
    margin: 3rem; }
    #Intro-text #price {
      color: orangered;
      padding: 1rem;
      animation: animate_price 5s 2;
      -webkit-animation: animate_price 5s 2; }
  #Intro-photo {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 0;
    top: 0;
    background: url(./images/./cover_photo/./ssss2.png) no-repeat right bottom/contain;
    animation: animate_car 4s forwards 1s ease-in-out;
    -webkit-animation: animate_car 4s forwards 1s ease-in-out; }

@keyframes animate_price {
  80% {
    color: orangered; }
  90% {
    color: #970071; } }

@keyframes animate_car {
  100% {
    width: 100%;
    height: 100%; } }

#cars-container {
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  grid-template-areas: "car1 car2" "car3 car4";
  justify-items: center;
  align-items: center; }

.car {
  background-color: #ce6ab5;
  border: 4px solid #970071;
  padding: 0.3rem;
  box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.54);
  transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out; }
  .car:hover {
    background-color: #fcade8; }
  .car-1 {
    grid-area: car1;
    transform: rotate(-0.01turn);
    -webkit-transform: rotate(-0.01turn);
    -moz-transform: rotate(-0.01turn);
    -ms-transform: rotate(-0.01turn);
    -o-transform: rotate(-0.01turn);
    border: 10px solid black;
    border-image: linear-gradient(45deg, #970071, white) 1; }
  .car-2 {
    grid-area: car2;
    transform: rotate(0.005turn);
    -webkit-transform: rotate(0.005turn);
    -moz-transform: rotate(0.005turn);
    -ms-transform: rotate(0.005turn);
    -o-transform: rotate(0.005turn);
    border-image: linear-gradient(#970071, white) 10; }
    .car-2:hover {
      border-image: linear-gradient(white, #970071) 10; }
  .car-3 {
    grid-area: car3;
    transform: rotate(-0.007turn);
    -webkit-transform: rotate(-0.007turn);
    -moz-transform: rotate(-0.007turn);
    -ms-transform: rotate(-0.007turn);
    -o-transform: rotate(-0.007turn);
    border: 10px solid transparent;
    border-image: repeating-linear-gradient(45deg, pink, pink 1%, purple 1%, purple 8%) 10;
    position: sticky;
    top: 0;
    z-index: 99; }
  .car-4 {
    grid-area: car4;
    transform: rotate(0.008turn);
    -webkit-transform: rotate(0.008turn);
    -moz-transform: rotate(0.008turn);
    -ms-transform: rotate(0.008turn);
    -o-transform: rotate(0.008turn);
    border: 10px solid;
    border-image-source: url("./images/./frame.svg");
    border-image-slice: 30%;
    border-image-width: 60px;
    border-image-outset: 1.7;
    border-image-repeat: none;
    background-color: transparent;
    box-shadow: none; }
  .car-photo img {
    width: 97%;
    display: block;
    margin: auto;
    border: 1px solid #970071; }
  .car-name {
    text-align: center;
    padding: 1rem; }

#contacts-wrapper {
  background-color: #970071;
  display: flex;
  justify-content: space-around; }
  #contacts-wrapper #contacts {
    margin: 2rem; }
    #contacts-wrapper #contacts .single-contact {
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(90deg, white, #970071) 10; }
      #contacts-wrapper #contacts .single-contact .contact-title,
      #contacts-wrapper #contacts .single-contact .contact-text {
        display: inline-block;
        padding: 1rem;
        font-size: 1.4rem; }
      #contacts-wrapper #contacts .single-contact .contact-title {
        width: 110px;
        color: white; }
      #contacts-wrapper #contacts .single-contact .contact-text {
        font-weight: bold; }
  #contacts-wrapper form {
    height: 200px;
    overflow: hidden; }
    #contacts-wrapper form h1 {
      text-align: center; }
  #contacts-wrapper #map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0; }
    #contacts-wrapper #map-container #map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100px !important; }

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100px; }
  footer p {
    text-align: center; }
  footer img {
    height: 40px; }

#galery .galery-title {
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  #galery .galery-title h1 {
    color: #970071;
    padding: 20px;
    margin: 0; }
  #galery .galery-title img {
    height: 40px; }

#galery .photo-container {
  max-height: 70vh;
  display: flex;
  overflow: scroll;
  background: #970071; }
  #galery .photo-container img {
    max-height: 90%;
    max-width: 80vw;
    padding: 0 20px;
    margin: auto; }

@media (max-width: 925px) {
  body {
    background-image: url("./images/Background_photos/blured2-mini.jpg ") no-repeat center center/cover; }
  #navbar {
    flex-direction: column; }
    #navbar nav {
      padding-top: 10px; }
  #start-offset {
    height: 150px; } }

@media (max-width: 500px) {
  #navbar #header2 #logo-line1 {
    font-size: 1.5rem; }
  #navbar #header2 #logo-line2 {
    font-size: 1.2rem; }
  #navbar nav {
    font-size: 1.1rem;
    padding-top: 0; }
  #cars-container {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-areas: "car1" "car2" "car3" "car4";
    justify-items: center;
    align-items: center; }
  #contacts-wrapper {
    flex-flow: column; } }
