* {
    box-sizing: border-box;
}

body {
    
    background-image: url(https://images.pexels.com/photos/457609/pexels-photo-457609.jpeg?cs=srgb&dl=asphalt-blur-car-457609.jpg&fm=jpg);
    font-size: 16PX;
    background-image: url();
    border:3px solid blueviolet;

}

.header {
    background-color: rgb(247, 216, 77);
    border:3px solid blueviolet;
    
}

.menu-items li,p,a,ul {
    display: inline;
    padding: 5px;
}



.title {
    border:3px solid blueviolet;
    font-size: 4rem;
    text-align: center;
    margin: 10%;
    max-width: width 100px; 
    object-fit: cover;
    
}

.image-container img {
    border:3px solid blueviolet;
    display:block;
    
    
    width: 100%;
    height: 100px;
    
}


.intro {
    display: block;
    background-color: brown;
    font-style: italic;
    font-size: 1.6rem;
    background-image: url(https://images.pexels.com/photos/457609/pexels-photo-457609.jpeg?cs=srgb&dl=asphalt-blur-car-457609.jpg&fm=jpg);
}