// open "sass_support_files" folder in terminal,
// type: npm run sass

// Variables
$background-color-pinky: #fcade8;
$background-color: #fdfcf5;
$background-color-lighter: white;
$primary-color: #970071;
$primary-color-light: #ce6ab5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: "Dosis", sans-serif;
  // line-height: 1.6;
  // background-color: $background-color;
  // background: url("./images/./Background_photos/./black-and-white-bouquet-love-71298.jpg") no-repeat center center/cover;
  background: url("./images/Background_photos/blured2.jpg ") no-repeat center
    center/cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: $primary-color;
}

image {
  width: 100%;
}

// CLASSES
.container {
  max-width: 1200px;
  margin: auto;
  // overflow: hidden;    - stops sticky to work
}

.title {
  text-align: center;
  color: $primary-color;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: -2;
}

.separator {
  display: block;
  height: 5px;
  width: 80%;
  margin: 2rem auto;
  // border-bottom: 5px solid $primary-color;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    $primary-color,
    rgba(0, 128, 0, 0)
  );
}

// hiding navbar on scrolling in js
// .nav-up {
//   top: -240px;
// }

// SECTIONS
#navbar {
  // position: sticky;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101;
  background-color: $background-color;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-around;

  // hamburger menu
  #check-box {
    position: absolute;
    display: none;
    // float: left;
    width: 45px;
    height: 35px;
    left: 0;
    top: 23px;
    z-index: 200;
    opacity: 0;

    &:checked {
      // change hamburger into the cross
      & + #hamburger #ham-wrapper span {
        opacity: 1;
        background: #232323;

        &:nth-child(1) {
          transform: translateY(9px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-9px) rotate(-45deg);
        }
      }

      // show navbar
      & ~ nav {
        display: inline-block;
        background: #fcd2f8;
        padding-left: 5px;
        padding-top: 70px;
        width: 100%;

        // opacity: 1 ;    doesn't work!

        // animation of incoming navbar
        animation: An-show-navbar 0.5s forwards ease-in-out;

        ul {
          display: flex;
          flex-flow: column;
          align-items: flex-start;

          li {
            font-weight: bold;
            text-align: left;
          }
        }
        // adjust padding of the company name
        & + #header2 {
          padding-left: 5px;
        }
      }
    }
  }

  #hamburger {
    display: none;
    position: absolute;
    top: 23px;
    left: 10px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    #ham-wrapper {
      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #a10494;
        border-radius: 3px;
        z-index: 1;
        // transform-origin: 4px -100%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }
    }
  }

  #header2 {
    color: $primary-color;
    padding: 10px;

    %logo {
      font-weight: bold;
    }

    #logo-line1 {
      @extend %logo;
      font-size: 2rem;
    }

    #logo-line2 {
      @extend %logo;
      font-size: 1.5rem;
      text-align: right;
    }
  }

  nav {
    // position: fixed;
    font-size: 1.3rem;
    // display: none;

    //  padding-bottom: 20px;

    ul {
      list-style: none;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      // overflow: scroll;
      align-items: baseline;
      justify-content: center;
      // flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;
      // overflow: hidden;

      li {
        display: inline-block;
        text-align: center;
        // width: 100px;
        padding: 0.7rem;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        transition: border-bottom 0.5s ease-in-out;
        -webkit-transition: border-bottom 0.5s ease-in-out;
        -moz-transition: border-bottom 0.5s ease-in-out;
        -ms-transition: border-bottom 0.5s ease-in-out;
        -o-transition: border-bottom 0.5s ease-in-out;

        &:hover {
          border-bottom: 3px solid $primary-color;
        }
      }
    }
  }
}

@keyframes An-show-navbar {
  0% {
    // background: orange;
    // width: 1px;
    // width: 100%;

    padding: 0px;
    // left: 0;
    transform: translateX(-100%);
  }

  100% {
    // background: green;
    // left: 10px;
    // transform: translateX(0);
  }
}

#start-offset {
  display: block;
  height: 110px;
}

// INTRODUCTION
#Intro {
  height: 500px;
  width: 100%;
  position: relative;

  &-text {
    max-width: 400px;
    float: left;
    // height: 500px;
    margin: 3rem;

    #price {
      color: orangered;
      padding: 1rem;
      animation: animate_price 5s 2;
      -webkit-animation: animate_price 5s 2;
    }
  }

  &-photo {
    position: absolute;
    width: 20%;
    height: 20%;
    right: 0;
    top: 0;
    background: url(./images/./cover_photo/./ssss2.png) no-repeat right
      bottom/contain;
    animation: animate_car 4s forwards 1s ease-in-out;
    -webkit-animation: animate_car 4s forwards 1s ease-in-out;
  }
}

@keyframes animate_price {
  80% {
    color: orangered;
  }

  90% {
    color: $primary-color;
  }
}

@keyframes animate_car {
  100% {
    width: 100%;
    height: 100%;
  }
}

// OUR CARS

#cars-container {
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  grid-template-areas:
    "car1 car2"
    "car3 car4";
  justify-items: center;
  align-items: center;
}

.car {
  background-color: $primary-color-light;
  border: 4px solid $primary-color;
  padding: 0.3rem;
  box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.54);
  transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: $background-color-pinky;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-1 {
    grid-area: car1;

    transform: rotate(-0.01turn);
    -webkit-transform: rotate(-0.01turn);
    -moz-transform: rotate(-0.01turn);
    -ms-transform: rotate(-0.01turn);
    -o-transform: rotate(-0.01turn);

    border: 10px solid black;
    border-image: linear-gradient(
        45deg,
        $primary-color,
        $background-color-lighter
      )
      1;
  }

  &-2 {
    grid-area: car2;
    transform: rotate(0.005turn);
    -webkit-transform: rotate(0.005turn);
    -moz-transform: rotate(0.005turn);
    -ms-transform: rotate(0.005turn);
    -o-transform: rotate(0.005turn);

    border-width: 8px;
    border-image: linear-gradient($primary-color, $background-color-lighter) 10;

    &:hover {
      border-image: linear-gradient(white, $primary-color) 10;
    }
  }

  &-3 {
    grid-area: car3;
    transform: rotate(-0.007turn);
    -webkit-transform: rotate(-0.007turn);
    -moz-transform: rotate(-0.007turn);
    -ms-transform: rotate(-0.007turn);
    -o-transform: rotate(-0.007turn);

    border: 10px solid transparent;
    border-image: repeating-linear-gradient(
        45deg,
        pink,
        pink 1%,
        purple 1%,
        purple 8%
      )
      10;

    position: sticky;
    top: 0;
    z-index: 99;
  }

  &-4 {
    grid-area: car4;
    transform: rotate(0.008turn);
    -webkit-transform: rotate(0.008turn);
    -moz-transform: rotate(0.008turn);
    -ms-transform: rotate(0.008turn);
    -o-transform: rotate(0.008turn);

    border: 10px solid;
    border-image-source: url("./images/./frame.svg");
    border-image-slice: 30%;
    border-image-width: 60px;
    border-image-outset: 1.7;
    border-image-repeat: none;
    background-color: transparent;
    box-shadow: none;
  }

  // url("./images/./frame.svg")

  &-photo img {
    width: 97%;
    display: block;
    margin: auto;

    border: 1px solid $primary-color;
  }

  &-name {
    text-align: center;
    padding: 1rem;
  }
}

// .contacts-container {
//   background-color: $primary-color;
//   .title {
//     color: white;
//   }
// }

#contacts-wrapper {
  background-color: $primary-color;
  display: flex;
  justify-content: space-around;

  #contacts {
    margin: 2rem;

    .single-contact {
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(
          90deg,
          $background-color-lighter,
          $primary-color
        )
        10;

      .contact-title,
      .contact-text {
        display: inline-block;
        padding: 1rem;
        font-size: 1.4rem;
      }

      .contact-title {
        width: 110px;
        color: $background-color-lighter;
      }

      .contact-text {
        font-weight: bold;
      }
    }
  }

  form {
    // width: 200px;
    height: 200px;
    overflow: hidden;

    h1 {
      text-align: center;
      // width: 100%;
    }
  }

  #map-container {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;

    #map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100px !important;
    }
  }
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100px;

  p {
    text-align: center;
  }

  img {
    height: 40px;
  }
}

// GALERY

#galery {
  .car-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 20px;

    h1 {
      color: $primary-color;
      padding-top: 20px;
      margin: 0;
    }

    img {
      height: 40px;
    }
  }

  .photo-container {
    display: flex;
    align-items: center;
    overflow: scroll;

    // background: linear-gradient(rgba(255, 255, 255, 0) 5%, rgba(153, 9, 224, 1) 30%, rgba(153, 9, 224, 1) 70%, rgba(255, 255, 255, 0) 95%);
    background: #970071;

    img {
      max-height: 40vw;
      // padding: 10px 2vw;
      margin: 10px 1.3vw;
    }
  }

  .decorated-borders img {
    border: 0.5vw solid black;
    border-image: linear-gradient(
        45deg,
        $primary-color-light,
        $background-color-lighter
      )
      1;
  }

  #galery-mixed {
    h1 {
      color: $background-color-pinky;
    }

    .photo-container {
      background: $background-color-pinky;

      img {
        max-height: 30vw;
      }
    }
  }
}

// MEDIA QUERIES

@media (max-width: 925px) {
  body {
    // background-color: rgba(141, 247, 141, 0.295);
    background-image: url("./images/Background_photos/blured2-mini.jpg ")
      no-repeat center center/cover;
  }

  #navbar {
    // position: relative;
    flex-direction: column;

    // display: block;
    nav {
      // padding-top: 20px;

      // position: fixed;
      // top: 0;
      // overflow: hidden;

      padding-top: 10px;

      // width: 100%;
      // z-index: 100;
      // background-color: $background-color;
      // opacity: 0.9;
    }

    // #start-offset2 {
    //   display: block;
    //   height: 70px;
    //   width: 100%;
    //   // position: relative;
    //   // top: 150px;
    // }
  }

  #start-offset {
    height: 150px;
  }
}

@media (max-width: 500px) {
  #navbar {
    flex-flow: row;

    #hamburger,
    #check-box {
      display: inline-block;
    }

    nav {
      display: none;
      font-size: 1.1rem;
      // font-weight: bold;
      padding-top: 0;
    }

    #header2 {
      padding-left: 50px;

      #logo-line1 {
        font-size: 1.5rem;
      }

      #logo-line2 {
        font-size: 1.2rem;
      }
    }
  }

  #cars-container {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-areas: "car1" "car2" "car3" "car4";
    justify-items: center;
    align-items: center;
  }

  #contacts-wrapper {
    flex-flow: column;
  }
}
