// open "sass_support_files" folder in terminal,
// type: npm run sass

// Variables
$background-color-pinky: #fcade8;
$background-color: #fdfcf5;
$background-color-lighter: white;
$primary-color: #970071;
$primary-color-light: #ce6ab5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // font-size: 120%;
}

body {
  // font-family: "Dosis", sans-serif;
  // line-height: 1.6;
  // background-color: $background-color;
  // background: url("./images/./Background_photos/./black-and-white-bouquet-love-71298.jpg") no-repeat center center/cover;

  background: url("./images/Background_photos/blured2.jpg ") no-repeat center center/cover;
  width: 100%;
  background-attachment: fixed;

  // font-family: "Macondo Swash Caps", cursive;
  // font-family: "Muli", sans-serif;
  // font-family: "Macondo", cursive;
  // font-family: "Open Sans", sans-serif;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.2rem;
}

h1,
h2,
h3 {
  font-weight: 300;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: $primary-color;

  // transition
  // border-bottom: 5px solid $primary-color;
}

image {
  width: 100%;
}

// CLASSES
.container {
  max-width: 1200px;
  margin: auto;
  // overflow: hidden;    - stops sticky to work
}

.title {
  text-align: center;
  color: $primary-color;
  font-size: 2.5rem;
  margin-top: 2rem;
  // margin-bottom: 2rem;
  z-index: -2;

  // position: sticky;
  // top: 50px;
  // z-index: 399;
}

.separator {
  display: block;
  height: 5px;
  width: 80%;
  margin: 2rem auto;
  // border-bottom: 5px solid $primary-color;
  background: linear-gradient(to right,
      rgba(255, 0, 0, 0),
      $primary-color,
      rgba(0, 128, 0, 0));
}

// hiding navbar on scrolling in js
// .nav-up {
//   top: -240px;
// }

// SECTIONS
#navbar {
  // position: sticky;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101;
  background-color: $background-color;
  opacity: 0.94;
  display: flex;
  align-items: center;
  justify-content: space-around;

  // hamburger menu
  #check-box {
    position: absolute;
    display: none;
    // float: left;
    width: 50px;
    height: 45px;
    left: 0;
    top: 10px;
    z-index: 200;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }

    // &:hover + #hamburger #ham-wrapper span {
    //   background: $background-color-pinky;
    // }

    &:checked {

      // change hamburger into the cross
      &+#hamburger #ham-wrapper span {
        opacity: 1;
        // background: #232323;

        &:nth-child(1) {
          transform: translateY(9px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-9px) rotate(-45deg);
        }
      }

      // show navbar
      &~nav {
        display: inline-block;
        background: #fcd2f8;
        // padding: 20px 0 20px 20px;
        padding: 20px;
        margin-left: 26px;
        // padding-top: 70px;
        // width: 60%;

        // transition instead?
        // msi jit jinam do toho
        // transition: transform 1s  ease;

        // animation of incoming navbar
        animation: An-show-navbar 0.25s forwards ease-out;

        ul {
          display: flex;
          flex-flow: column;
          // align-items: flex-start;
          align-items: center;
          padding: 0;
          margin: auto;
          width: 130px;

          li {
            // text-align: left;
            // overflow: hidden;
            display: block;
            padding-left: 0;
            padding-right: 0;

            a {
              display: block;
            }
          }
        }

        // adjust padding of the company name
        &+#header2 {
          // padding-left: 0;
          margin: 0;
          padding: 2px;
        }
      }
    }
  }

  #hamburger {
    display: none;
    position: absolute;
    top: 23px;
    left: 10px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    #ham-wrapper {
      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #a10494;
        border-radius: 3px;
        z-index: 1;
        // transform-origin: 4px -100%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }
    }
  }

  #header2 {
    color: $primary-color;
    // display: block;
    padding: 10px;
    // margin: auto;

    position: relative;

    #fill-the-space {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1003;
    }

    %logo {
      letter-spacing: 0.2rem;
    }

    #logo-line1 {
      @extend %logo;
      font-size: 2rem;
    }

    #logo-line2 {
      @extend %logo;
      font-size: 1.5rem;
      text-align: right;
    }
  }

  nav {
    // position: fixed;
    font-size: 1.7rem;

    // display: none;

    //  padding-bottom: 20px;

    ul {
      list-style: none;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      // overflow: scroll;
      align-items: baseline;
      justify-content: center;
      // flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;
      // overflow: hidden;

      li {
        display: inline-block;
        text-align: center;
        // width: 100px;
        padding: 0.7rem 1.2rem;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        transition: border-bottom 0.5s ease-in-out;
        -webkit-transition: border-bottom 0.5s ease-in-out;
        -moz-transition: border-bottom 0.5s ease-in-out;
        -ms-transition: border-bottom 0.5s ease-in-out;
        -o-transition: border-bottom 0.5s ease-in-out;

        &:hover {
          border-bottom: 3px solid $primary-color;
        }
      }
    }
  }
}

@keyframes An-show-navbar {
  0% {
    // background: orange;
    // width: 1px;
    // width: 100%;

    padding: 0px;
    // left: 0;
    transform: translateX(-100%);
  }

  100% {
    // background: green;
    // left: 10px;
    // transform: translateX(0);
  }
}

#start-offset {
  display: block;
  height: 70px;
}

#extra-offset-front-page {
  display: block;
  height: 40px;
}

// INTRODUCTION

#Intro {
  position: relative;
  overflow: hidden;
  // height: 65vh;
  width: 100%;

  &-text {
    max-width: 50vw;

    margin-left: 6rem;

    // margin: 3rem;
    // font-size: 1.5rem;

    #price {
      color: orangered;
      padding: 1rem 0;
      animation: animate_price 5s 2;
      -webkit-animation: animate_price 5s 2;
    }
  }

  // ** intro photo

  img {
    float: right;
    width: 7%;
    height: auto;
    opacity: 0;
    margin: 30vh 10vw 0 10vw;
    shape-margin: 0.5rem;
    shape-outside: url(./images/./cover_photo/./moving-car-smaller.png);
    animation: animate_car 3s forwards 0s ease-in;
    -webkit-animation: animate_car 3s forwards 0s ease-in;
  }

  @keyframes animate_price {
    80% {
      color: orangered;
    }

    90% {
      color: $primary-color;
    }
  }

  @keyframes animate_car {

    // 0% {
    //   opacity: 0;
    //   // visibility: visible;
    // }
    10% {
      opacity: 30%;
    }

    100% {
      width: 50%;
      opacity: 1;
      // visibility: visible;
    }
  }
}

// &-photo {
//   position: absolute;
//   z-index: -10;
//   visibility: hidden; //  so it doesn't pop up on page load
//   width: 90%;
//   height: 90%;
//   margin: auto;
//   transform-origin: 97% 5%;
//   transform: scale(0.2);
//   right: -5%;
//   top: 15%;
//   background: url(./images/./cover_photo/./moving-car-smaller.png) no-repeat
//     right bottom/contain;
//   animation: animate_car 1s forwards 0s ease-in;
//   -webkit-animation: animate_car 4s forwards 1s ease-in-out;
//   -webkit-transform: scale(0.2);
//   -moz-transform: scale(0.2);
//   -ms-transform: scale(0.2);
//   -o-transform: scale(0.2);
// }

// @keyframes animate_car {
//   0% {
//     opacity: 0;
//     visibility: visible;
//   }

//   100% {
//     // width: 90%;
//     // // height: 90%;
//     opacity: 1;
//     transform: scale(1);
//     transform: translate(-10%, -15%);
//     visibility: visible;
//   }
// }

// OUR CARS

#cars-container {
  display: grid;
  grid-gap: 3vw;
  padding: 3vw;
  grid-template-areas: "car2 car1 car4"; // "car3"
  justify-items: center;
  align-items: center;
}

.car {
  background-color: $primary-color;
  padding: 0.3rem;
  box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.54);
  transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;

  border: 8px solid white;
  // border: 8px;
  // border-width: 8px;
  // border-image: linear-gradient($primary-color, $background-color-lighter) 10;
  // border-image: linear-gradient(white, transparent) 10;
  border-radius: 0 0 10% 10%;

  &:hover {
    // border-image: linear-gradient(white, transparent) 10;
    background-color: $background-color-pinky;
  }

  // a {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  // }

  &-1 {
    grid-area: car1;

    transform: rotate(-0.01turn);
    -webkit-transform: rotate(-0.01turn);
    -moz-transform: rotate(-0.01turn);
    -ms-transform: rotate(-0.01turn);
    -o-transform: rotate(-0.01turn);

    // border: 10px solid black;
    // border-image: linear-gradient(
    //     45deg,
    //     $primary-color,
    //     $background-color-lighter
    //   )
    //   1;
  }

  &-2 {
    grid-area: car2;
    transform: rotate(0.005turn);
    -webkit-transform: rotate(0.005turn);
    -moz-transform: rotate(0.005turn);
    -ms-transform: rotate(0.005turn);
    -o-transform: rotate(0.005turn);

    // border-width: 8px;
    // border-image: linear-gradient($primary-color, $background-color-lighter) 10;

    // &:hover {
    //   border-image: linear-gradient(white, $primary-color) 10;
    // }
  }

  &-3 {
    grid-area: car3;
    transform: rotate(-0.007turn);
    -webkit-transform: rotate(-0.007turn);
    -moz-transform: rotate(-0.007turn);
    -ms-transform: rotate(-0.007turn);
    -o-transform: rotate(-0.007turn);

    border: 10px solid transparent;
    border-image: repeating-linear-gradient(45deg,
        pink,
        pink 1%,
        purple 1%,
        purple 8%) 10;
  }

  &-4 {
    grid-area: car4;
    transform: rotate(0.008turn);
    -webkit-transform: rotate(0.008turn);
    -moz-transform: rotate(0.008turn);
    -ms-transform: rotate(0.008turn);
    -o-transform: rotate(0.008turn);

    // border: 10px solid;
    // border-image-source: url("./images/./frame.svg");
    // border-image-slice: 30%;
    // border-image-width: 60px;
    // border-image-outset: 1.7;
    // border-image-repeat: none;
    // background-color: transparent;
    // box-shadow: none;
  }

  // url("./images/./frame.svg")

  &-photo img {
    width: 97%;
    display: block;
    margin: auto;

    border: 1px solid $primary-color;
  }

  &-name {
    text-align: center;
    color: white;
    padding: 1rem;

    .comment {
      font-size: 1.1rem;
    }
  }
}

// .contacts-container {
//   background-color: $primary-color;
//   .title {
//     color: white;
//   }
// }

#contacts-wrapper {
  // width: 100%;
  display: grid;
  overflow: hidden;
  grid-column-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  // grid-template-columns: 1fr minmax(400px, 1fr);
  // grid-template-columns: repeat(2, minmax(400px, 1fr));
  // grid-auto-columns:auto;
  // grid-auto-flow: row
  // grid-template-columns: auto;

  // display: flex;
  // width: 100%;
  // flex-flow: wrap;

  margin-top: 1rem;

  &>* {
    // flex:1;
    // padding: 1rem;
    // margin: 0 0.5rem;

    background-color: $primary-color;
  }

  #contacts {
    // margin: 2rem;
    // min-width: 500px;
    display: inline-block;

    .single-contact {
      display: flex;

      border-bottom: 2px solid transparent;
      border-image: linear-gradient(90deg,
          $background-color-lighter,
          $primary-color) 10;

      .contact-title,
      .contact-text {
        display: inline-block;
        padding: 1rem 0 1rem 1rem;

        font-size: 1.4rem;
      }

      .contact-title {
        width: 110px;
        color: $background-color-lighter;
      }

      .contact-text {
        font-family: serif;
        letter-spacing: 0.1rem;
        word-spacing: 0.1rem;
        color: $background-color-pinky;
        // color: rgb(255, 255, 255);

        a {
          padding: 0;

          img {
            height: 60px;
            transform: translateY(5px);

            // transform: scale(3);
            transition: transform 0.5s ease-in-out;

            &:hover {
              // border-bottom: 3px solid $primary-color;
              transform: scale(1.2);
            }
          }
        }
      }

      #email-us {
        color: $background-color-pinky;

        transition: transform 500ms;

        // font-style: italic;
        #email-us-span {
          border-bottom: 1px dotted $background-color-pinky;
        }

        &:hover,
        &:active {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
        }
      }

      a[href^="tel"] {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  #contact-form {
    display: inline-block;

    color: white;
    padding: 1rem;
    // min-width: 300px;

    h1 {
      padding-bottom: 10px;
      text-align: center;
    }

    form {

      // free contact form design setting Miro
      tbody {
        width: 100%;
        margin: 0 auto;
      }

      .freecontactform {
        width: 100%;
      }

      tr {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        width: 100%;
      }

      a {
        color: $background-color-pinky;
      }



      margin: auto;

      #form-lines {
        font-size: 1.4rem;
      }

      label,
      input,
      textarea {
        display: block;
      }

      input,
      textarea {
        width: 100%;
        line-height: 2.5;
        padding: 0 0 0 10px;
        border: none;
        border-radius: 5px;
        background: linear-gradient(90deg,
            $background-color-lighter 50%,
            $primary-color);
      }

      textarea {
        min-height: 150px;
      }

      label {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 1.5 rem;
      }

      .btn {
        margin: 10px auto 0 auto;
        padding: 7px 0 0 0;

        display: block;
        width: 100px;
        // text-align: center;

        background: $background-color-pinky;
        // font-family: "Macondo Swash Caps", cursive;
        font-family: "Great Vibes", cursive;
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: $primary-color;
        // transition: background 0.3s,  transform 0.3s;
        transition: background, transform;
        transition: 0.5s;

        &:hover,
        &:active {
          cursor: pointer;
          background: white;
          transform: scale(1.2);
        }
      }
    }
  }
}

#map-container {
  // position: relative;
  // padding-bottom: 75%; // This is the aspect ratio
  height: 70vh;
  width: 100%;

  #map {
    //   // position: absolute;
    //   // top: 0;
    //   // left: 0;
    width: 100%;
    height: 70vh;
  }
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 22vh;
  // height: 100px;
  background: $primary-color;

  p,
  a {
    // display: block;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    // font: 1em macondo;
    transition: transform 500ms;
  }

  a {
    color: $background-color-pinky;
    // text-decoration: wavy underline;
    border-bottom: 1px dotted $background-color-pinky;

    &:hover,
    &:active {
      transform: scale(1.2);
    }

    // animation: contact-developer 3s infinite 0s ease-in;;
  }

  // @keyframes contact-developer {
  //   50%
  //   {color: white;}
  // }

  // img {
  //   height: 40px;
  // }
}

//** GALERY

#galery {
  // position: relative;

  #close-button-button,
  #allert {
    display: none;
  }

  .car-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 20px;

    h1 {
      color: $primary-color;
      padding-top: 20px;
      margin: 0;
    }

    img {
      height: 40px;
    }
  }

  .photo-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;

    // background: linear-gradient(rgba(255, 255, 255, 0) 5%, rgba(153, 9, 224, 1) 30%, rgba(153, 9, 224, 1) 70%, rgba(255, 255, 255, 0) 95%);
    background: #970071;

    img {
      max-height: 40vw;
      // padding: 10px 2vw;
      border: 0.5vw solid white;
      border-radius: 10px;
      margin: 10px 1.3vw;
    }
  }

  #galery-mixed {
    h1 {
      color: $background-color-pinky;
    }

    .photo-container {
      background: $background-color-pinky;

      img {
        // max-height: 30vw;
      }
    }
  }
}

//** MEDIA QUERIES

@media (max-width: 925px) {
  body {
    // background-color: rgba(141, 247, 141, 0.295);
    background: url("./images/Background_photos/blured2-mini.jpg ") no-repeat left top/cover;
    background-attachment: fixed;
  }

  #navbar {

    // justify-content: flex-end;
    // justify-content: space-between;
    #hamburger,
    #check-box {
      display: inline-block;
    }

    nav {
      display: none;
      font-size: 2rem;
      padding-top: 0;
    }

    #header2 {
      // justify-self: end;
      // padding-right: auto;
      margin-left: 50px; // so it doesn;t overlap hamburger

      #logo-line1 {
        font-size: 2rem;
      }

      #logo-line2 {
        font-size: 1.5rem;
      }
    }
  }

  #start-offset {
    height: 50px;
  }

  #Intro {
    &-text {
      max-width: 700px;
      // padding: 2rem;
      // margin: auto;
      margin: 6vw;
      // text-align: justify;
    }

    img {
      margin: 30vh 6vw 0 6vw;
    }

    @keyframes animate_car {
      10% {
        opacity: 30%;
      }

      100% {
        width: 70%;
        opacity: 1;
      }
    }
  }

  #galery {
    position: relative;

    #allert {
      position: fixed;
      z-index: 500;
      top: 5vh;
      bottom: 40px;
      right: 2vh;
      left: 2vh;
      background: white;
      border: 10px $primary-color solid;
      // border-radius: 20px;

      display: flex;
      // flex-flow: column;
      // display: none;
      align-items: center;
      justify-content: center;

      p {
        text-align: center;
        font-size: 10vw;
        font-family: serif;
      }

      #close-button-text {
        position: absolute;
        bottom: 40px;
        padding: 10px;
        border: 3px $primary-color solid;
        background: $background-color-pinky;
      }

      // animation: An-Fade-Out 3s forwards 2s ease-in-out;
    }

    #close-button-button {
      display: block;
      position: fixed;
      z-index: 501;

      bottom: 83px;
      height: 70px;

      right: 50%;
      width: 170px;
      transform: translate(50%, 0);

      background: rgba(255, 0, 0, 0.781);
      border: 10px $primary-color solid;
      opacity: 0;

      &:checked {
        display: none;
        z-index: -10;
        opacity: 0;

        transition: z-index, opacity;
        transition: 1s;

        +#allert {
          // display: none;
          z-index: -10;
          opacity: 0;

          transition: z-index, opacity;
          transition: 1s;
        }
      }
    }
  }

  @keyframes An-Fade-Out {
    99% {
      // opacity: 0;
    }

    100% {
      opacity: 0;
      // display: none !important;
      z-index: -10;
    }
  }
}

@media (max-width: 500px) {
  html {
    // font-size: 125%;
  }

  #Intro {
    &-text {
      max-width: 700px;
      margin: 6vw;
    }

    @keyframes animate_car {
      10% {
        opacity: 30%;
      }

      100% {
        width: 80%;
        opacity: 1;
      }
    }
  }

  #cars-container {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-areas: "car2""car1""car4"; //"car3" "car4";
    justify-items: center;
    align-items: center;
  }

  #header2 p {
    font-size: 5vw !important;

    // #logo-line1, #logo-line2 {
    //   font-size: 1rem !important;
    // }
  }

  #contacts-wrapper {
    // flex-flow: column;

    grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));

    .single-contact {
      flex-flow: column;

      // font-size: 14px !important;
      .contact-title {
        padding-bottom: 0 !important;
        // color: green !important;
        // font-size: 18px !important;

        br {
          display: none;
        }
      }

      .contact-text {
        // padding-left: 3rem !important;
        font-size: 18px !important;
      }
    }
  }
}